fastapi==0.103.1
uvicorn[standard]==0.23.2
python-multipart==0.0.6  # สำหรับรับไฟล์ .wav อัปโหลด
librosa==0.10.1          # สำหรับวิเคราะห์คลื่นเสียงและ High Note
soundfile==0.12.1        # สำหรับอ่าน/เขียนไฟล์เสียง
spleeter==2.4.0          # AI แยกเสียงร้องและดนตรี
pydub==0.25.1 # เพิ่ม lib แปลงไฟล์
numpy<2.0.0  # <-- เพิ่มการจำกัดเวอร์ชันตรงนี้ (หรือใช้ numpy==1.26.4 ก็ได้ครับ)
yt-dlp # yt-dlp==2023.12.30
